# Forces new Travis-CI Infrastructure
sudo: false

language: php

env:
  global:
    - RUN_PHPCS="no"
    - RUN_UNIT_TESTS="yes"
    - RUN_JAVASCRIPT_TESTS="no"
    - INSTALL_MEMCACHE="yes"
    - INSTALL_MEMCACHED="yes"
    - INSTALL_REDIS="yes"

matrix:
  fast_finish: true
  include:
    #- php: 5.6
    #  env: RUN_PHPCS="yes" RUN_UNIT_TESTS="no" INSTALL_MEMCACHE="no" INSTALL_MEMCACHED="no" INSTALL_REDIS="no"
    #- php: 5.3
    #  env: INSTALL_APC="yes"
    #- php: 5.4
    #  env: INSTALL_APC="yes"
    #- php: 5.5
    #  env: INSTALL_APCU="yes"
    - php: 5.6
      env: INSTALL_APCU="yes"
    #- php: 7.0
    #  env: INSTALL_APCU="yes" INSTALL_APCU_BC_BETA="no" INSTALL_MEMCACHE="no" INSTALL_MEMCACHED="no" INSTALL_REDIS="no" # Disabled apcu_bc install until https://github.com/travis-ci/travis-ci/issues/5207 is resolved
    #- node_js: 6.1
    #  sudo: true
    #  env: RUN_JAVASCRIPT_TESTS="yes" RUN_UNIT_TESTS="no"
    #- php: 7.1
    #  env: INSTALL_APCU="yes" INSTALL_APCU_BC_BETA="no" INSTALL_MEMCACHE="no" INSTALL_MEMCACHED="no" INSTALL_REDIS="no" # Disabled apcu_bc install until https://github.com/travis-ci/travis-ci/issues/5207 is resolved
    - php: hhvm-3.15
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - postgresql
        - memcache
        - memcached
        - redis-server
      env: HHVMPHP7="no" INSTALL_APCU="no" INSTALL_APCU_BC_BETA="no" # Disabled items that currently do not work in travis-ci hhvm
    - php: hhvm-nightly
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - postgresql
        - memcache
        - memcached
        - redis-server
      env: HHVMPHP7="no" INSTALL_APCU="no" INSTALL_APCU_BC_BETA="no" # Disabled items that currently do not work in travis-ci hhvm
    - php: hhvm-3.15
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - postgresql
        - memcache
        - memcached
        - redis-server
      env: HHVMPHP7="yes" INSTALL_APCU="no" INSTALL_APCU_BC_BETA="no" # Disabled items that currently do not work in travis-ci hhvm
# current is 3.15 dev
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - libsnappy1
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - postgresql
        - memcache
        - memcached
        - redis-server
      env: HHVMPHP7="no" INSTALL_APCU="no" INSTALL_APCU_BC_BETA="no" # Disabled items that currently do not work in travis-ci hhvm
    - php: hhvm
      sudo: true
      dist: trusty
      group: edge # until the next update
      addons:
        apt:
          packages:
            - libsnappy1
            - mysql-server-5.6
            - mysql-client-core-5.6
            - mysql-client-5.6
      services:
        - postgresql
        - memcache
        - memcached
        - redis-server
      env: HHVMPHP7="yes" INSTALL_APCU="no" INSTALL_APCU_BC_BETA="no" # Disabled items that currently do not work in travis-ci hhvm
  allow_failures:
    - php: hhvm-3.15
    - php: hhvm-nightly
    - php: hhvm

services:
  - memcache
  - memcached
  - redis-server

before_install:
  #- "{ while ps aux --sort -rss | head; do sleep 5; done; } &"
  - free -m
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then wget -O - http://dl.hhvm.com/conf/hhvm.gpg.key | sudo apt-key add -; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then echo deb http://dl.hhvm.com/ubuntu trusty main | sudo tee /etc/apt/sources.list.d/hhvm.list; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-cache search hhvm-nightly; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-get clean; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-cache show hhvm-nightly; fi
  - if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-get download hhvm-nightly; fi
  - if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo dpkg --install ./hhvm-nightly_2016.09.23~trusty_amd64.deb; fi
  - if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-get install -y -f; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-get -y update && sudo apt-get -y -qq upgrade; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo apt-get install -y -f hhvm-nightly; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhvm ]]; then sudo /etc/init.d/hhvm restart; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then sudo service hhvm restart; fi
  - if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then php --version; fi
  - sh -c "if [ '$TRAVIS_PHP_VERSION' = 'hhv*' ]; then phpenv config-add build/travis/phpenv/hhvm.php.ini; fi"

before_script:
  # JavaScript tests
  - if [[ $RUN_JAVASCRIPT_TESTS == "yes" ]]; then export DISPLAY=:99.0; bash build/travis/javascript-tests.sh $PWD; fi
  # Make sure all dev dependencies are installed
  - if [[ $HHVMPHP7 == "yes" ]]; then echo hhvm.php7.all=1 >> /etc/hhvm/php.ini; fi
  - if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo xdebug.enable=1 >> /etc/hhvm/php.ini; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo xdebug.auto_trace=1 >> /etc/hhvm/php.ini; fi
  - if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo xdebug.show_mem_delta=1 >> /etc/hhvm/php.ini; fi
  - if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo hhvm.stats.memory=true >> /etc/hhvm/php.ini; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then alias composer="hhvm -v ResourceLimit.SocketDefaultTimeout=30 -v Http.SlowQueryThreshold=30000 -v Eval.Jit=false /usr/local/bin/composer"; fi
  - if [[ ( $RUN_UNIT_TESTS == "yes" ) || ( $RUN_PHPCS == "yes" ) ]]; then bash build/travis/unit-tests.sh $PWD; fi

script:
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then hhvm --php -r 'var_dump(get_loaded_extensions());'; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo error_reporting=E_ALL >> /etc/hhvm/php.ini; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then echo memory_limit -1 >> /etc/hhvm/php.ini; fi
  #- if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then hhvm --php -r 'print_r(ini_get_all());'; fi
  - if [[ $TRAVIS_PHP_VERSION = hhv* ]]; then hhvm --php -r 'var_dump(ini_get("memory_limit") / 1048576);'; fi
  - if [[ $RUN_PHPCS == "yes" ]]; then libraries/vendor/bin/phpcs --report=full --extensions=php -p --standard=build/phpcs/Joomla .; fi
  - if [[ $RUN_UNIT_TESTS == "yes" ]]; then libraries/vendor/bin/phpunit --configuration travisci-phpunit.xml; fi
  - if [[ $RUN_JAVASCRIPT_TESTS == "yes" ]]; then tests/javascript/node_modules/karma/bin/karma start karma.conf.js --single-run ; fi

branches:
  except:
    - 2.5.x
